/* all app scss styles here */

@import "compass/css3";
@import "compass/utilities";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Questrial|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic|Libre+Baskerville:400,700,400italic|Great+Vibes|Oswald:400,300,700|Montserrat:400,700|Lobster+Two:400,400italic,700,700italic|Sanchez:400italic,400|Bevan|Poly:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

$orange: #b2232d;

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); opacity: 1;}
  30% { -webkit-transform: scale(1.09); opacity: 0.3; }
  50% { -webkit-transform: scale(1.18); opacity: 1; }
  70% { -webkit-transform: scale(1.09); opacity: 0.3; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

@mixin pulse-animation() {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 5000ms;
  -webkit-transform-origin:70% 70%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

#top-bar {
  display: none;

  @media #{$large-up} {
    height: rem-calc(10);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $orange;
  }
}

#logo, body#home > header > h1 {
  font-family: $font-family-sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: rem-calc(30);
  line-height: 1.4em;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  @media #{$large-up} {
    font-size: rem-calc(100);
  }
  @media #{$xlarge-up} {
    font-size: rem-calc(200);
  }
}

#logo {
  display: none;

  @media #{$large-up} {
    display: block;
    .m, .k {
      line-height: 1.2em;
      z-index:999;
      position: absolute;
      width: 70px;
      top: 0;

      &.fixed {
        position: fixed !important;
        margin-top: 0 !important;
        transition: left 1s 50ms ease, transform 1s 50ms ease-in-out, top 1s 50ms ease;
        -webkit-transition: left 1s 50ms ease, -webkit-transform 1s 50ms ease-in-out, top 1s 50ms ease;
      }
      &.flip {
        transform: rotate(450deg);
        -webkit-transform: rotate(450deg);
        left: 0 !important;
        transition: left 1s 50ms ease, transform 1s 50ms ease-in-out, top 1s 50ms ease;
        -webkit-transition: left 1s 50ms ease, -webkit-transform 1s 50ms ease-in-out, top 1s 50ms ease;

        @media #{$xlarge-up} {
          transform: rotate(810deg);
          -webkit-transform: rotate(810deg);
          left: 40px !important;
        }
        &.k {
          top: 89px !important;
          transition: left 1s 50ms ease, transform 1s 50ms ease-in-out, top 1s 50ms ease;
          -webkit-transition: left 1s 50ms ease, -webkit-transform 1s 50ms ease-in-out, top 1s 50ms ease;

          @media #{$xlarge-up} {
            top: 180px !important;
          }
        }
      }
    }
    &.orange {
      color: $orange;
      transition: color 500ms 0s ease;
      -webkit-transition: color 500ms 0s ease;
    }
  }
}

body#home {
  > header {
    @include clearfix();
    width: 100%;
    height: rem-calc(500);

    @media #{$large-up} {
      height: 100vh;
      position: absolute;
      top:0;
    }

    #downer {
      display: none;

      @media #{$large-up} {
        display: block;
        position: absolute;
        bottom: 50px;
        color: $white;
        opacity: 0.4;
        left: 50%;
        text-align: center;

        &:after {
          line-height: 0.8em;
          position: absolute;
          top:0;
          left: 25px;
          content: "\25BE";
          font-size: rem-calc(80);
          @include pulse-animation();
        }
      }
    }
    > h1 {
      margin-top: rem-calc(30);
      @include grid-column(5, $offset: 6);

      @media #{$large-up} {
        @include grid-column(5, $offset: 7);
      }


      > span {
        display: inline-block;
        background: $orange;
        padding: 0;
        box-shadow:30px 0 0 $orange, -20px 0 0 $orange;
        box-decoration-break: clone;
        line-height: 1.2em;

        @media #{$large-up} {
          box-shadow:80px 0 0 $orange, -60px 0 0 $orange;

          .m, .k {
            color:transparent;
          }
        }

        &:first-of-type {
          margin-left: -30px;

          @media #{$large-up} {
            margin-left: -90px;
          }
          @media #{$xlarge-up} {
            margin-left: -180px;
          }
        }
      }
    }

    > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: auto 100%;

      @media #{$large-up} {
        background-size: cover;
        background-attachment: fixed;
      }
    }

    #max-bg {
      z-index: -4;
      background-image: url(/images/main-max.jpg);
      transition: filter 0.5s ease;
      -webkit-transition: filter 0.5s ease;

      &.bw {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(99%);
        filter: grayscale(100%);
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      }
    }
    #overlay {
      z-index: -2;
      background-color: rgba(0,0,0,1);
      display: none;
    }
    #max-cutout {
      z-index: -1;
      background-image: url(/images/main-max-cutout.png);
    }
  }
  nav#navigation {
    position: absolute;
    @include grid-column(6, $offset: 6);
    top: rem-calc(120);

    @media #{$large-up} {
      position:fixed;
      display: none;
      @include grid-column(1, $offset: 1);
    }

    ul {
      list-style: none;
      margin: 0;

      li {

        a {
          color: $orange;
          font-size: rem-calc(20);
          font-weight: 600;

          @media #{$large-up} {
            color: $black;
            font-size: rem-calc(16);
            font-weight: 300;
          }

          &:hover:after {
            content: "\25B6";
            font-size: rem-calc(10);
            margin-left: rem-calc(5);
            color: #efefef;
          }
        }
      }
    }
  }
  aside.social {
    @include clearfix();
    background-color: $white;
    padding: rem-calc(10) 0;
    @media #{$large-up} {
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: transparent;
    }
    a {
      @include grid-column(2.4);
      text-align: center;
      @media #{$large-up} {
        margin: rem-calc(5) rem-calc(5);
        padding: 5px;
        width: 30px;
      }
      color: $white;
      font-size: rem-calc(25);

      &.github {
        color: #4183c4;
      }
      &.facebook {
        color: #3B5998;
      }
      &.twitter {
        color: #4099FF;
      }
      &.instagram {
        color: #517fa4;
      }
      &.linkedin {
        color: #007bb6;
      }
    }
  }
  #sections {
    @include clearfix();
    width:100%;
    overflow: hidden;
    background-color: $white;

    @media #{$large-up} {
      background-color: transparent;
      padding-top: 160vh;
    }

    section {
      margin-bottom: rem-calc(50);

      @media #{$large-up} {
        @include grid-column(8, $offset:3);
      }
      @media #{$xlarge-up} {
        @include grid-column(5, $offset:3);
      }

      &:first-of-type {
        margin: rem-calc(50) rem-calc(30);

        @media #{$large-up} {
          margin: 0 0 rem-calc(50) 0;
        }
      }

      > h1 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: rem-calc(30);
        background-color: $orange;
        color: white;
        padding-left: rem-calc(20);
        margin-bottom: rem-calc(30);

        @media #{$large-up} {
          margin-left: -10%;
          margin-right: -15%;
        }

        &.stuck {
          position: fixed;
          top:10px;
        }
      }

      h2 {
        font-size: rem-calc(20);
        font-weight: 200;
        margin: rem-calc(20) 0 rem-calc(15);
        color: $orange;
      }
      p, li {
        font-size: rem-calc(14);
        font-weight: 200;
        margin-bottom: rem-calc(15);


      }

      .projects, .photos, .details {
        @include block-grid(1);
        margin: 0;
        @media #{$large-up} {
          @include block-grid(3);
        }
        .project, .photo, .detail {
          padding: rem-calc(10);
          &:hover {
            background: -webkit-linear-gradient(#f8f8f8, white); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#f8f8f8, white); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#f8f8f8, white); /* For Firefox 3.6 to 15 */
            background: linear-gradient(#f8f8f8, white); /* Standard syntax */
            // background-color: rgba(240, 240, 240, 0.4);
            transition: background 500ms linear;
          }
        }
      }
    }
    #summary {
      p:first-line {
        color: $orange;
        font-size: 1.6em;
        font-weight: bold;
      }
    }
    #photography a.more-photos {
      display: block;
      @include grid-column(12, $float: right);
      text-align: right;
    }
    #experience {
      .employment-items {
        list-style: none;
        margin: 0;

        .employment-item {
          padding: rem-calc(15);
          margin: 0;
          &:nth-of-type(2n) {
            background-color: #f8f8f8;
          }
          h2 {
            margin: 0 0 rem-calc(10);
            a {
              color: $orange;
              font-weight: 400;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          p {
            margin: 0 0 rem-calc(10);

            &:nth-of-type(2) {
              font-style: italic;
            }
          }
          ul {
            list-style: disc;
            li {
              margin: 0;
            }
          }
        }
      }
    }
    #other-details .details .detail {
      background: transparent;
    }
  }
}

.reveal-modal {
  max-width: 400px;
  background-color: $orange;
  color: $white;
  h1 {
    text-transform: uppercase;
    color: $white;
    font-size: rem-calc(28);
    font-weight: 200;
    margin-bottom: rem-calc(20);
    margin-left: 40px;
  }
  p {
    font-weight: 200;
    margin-left: 40px;

    a {
      color: $white;
      text-decoration: underline;
    }
  }
  .close-reveal-modal {
    line-height: 0.8em;
  }
}
.print {
  display: none;
}
@media print {
  a[href]:after {
    content: none !important;
  }
  body > * {
    display: none;
  }
  body#home {
    @include grid-column(10, $offset: 1);
    > header {
      height: auto;
      display: block;
      > h1 {
        margin: 0 !important;
        font-size: rem-calc(40) !important;
        width: 100% !important;
        br {
          display: none;
        }
        > span {
          margin: 0 !important;
          display: inline;

          &:first-of-type:after {
            content: " ";
          }
        }
      }
    }
    #navigation, #downer {
      display: none !important;
    }
    .print {
      display: block;
    }
    .contact-details {
      font-size: rem-calc(14);
      float: right;
      text-align: right;
    }
    #sections {
      display: block;
      #summary {
        display: none;
      }
      #projects, #experience {
        border-top: 1px solid #999;
        margin: 0;
        padding: 0;
        display: block;
        > h1 {
          font-size: rem-calc(22);
          margin: 0;
          padding: 0;
        }
        .projects {
          margin-top: rem-calc(10);
          .project {
            padding: 0;
            margin: 0;
            line-height: 1.1em;
            &:nth-of-type(n+4) {
              display: none;
            }
            a {
              text-decoration: none;
            }
            img {
              display: none;
            }
            h2 {
              font-size: rem-calc(12);
              font-weight: 600;
              display: inline;
            }
            p {
              display: inline;
              font-size: rem-calc(12) !important;
              line-height: 1em;
              &:nth-of-type(n+2) {
                display: none;
              }
            }
          }
        }
        .employment-items .employment-item {
          margin: 0;
          padding: rem-calc(5) 0 0 0;
          h2 {
            font-size: rem-calc(16);
            margin: 0;
          }
          p, ul li {
            font-size: rem-calc(12);
            margin: 0;
          }
          &:nth-of-type(n+4) {
            display: none;
          }
        }
      }
      #other-details {
        .detail:nth-of-type(n+3) {
          display: none;
        }
        h1 {
          display: none;
        }
        li {
          border-top: 1px solid #999;
          margin: 0;
          padding: 0;
        }
        h2 {
          font-size: rem-calc(22);
          text-transform: uppercase;
          font-weight: 600;
          margin: 0;
        }
        p {
          font-size: rem-calc(12);
        }
      }
      #photography {
        display: none;
      }
    }
  }
}