doctype html
html(class="no-js", lang="en")
    include header
    body(id="home")
        header
            h1 
                span
                    span(id="m") M
                    |ax 
                span
                    span(id="k") K
                    |irchoff
            div(id="max-cutout")
            div(id="overlay")
            div(id="max-bw")
            div(id="max-color")
        div(id="more-info")
            h1 More info
        include footer